
.banner{
    height: 600px;
}
.banner .inner{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 150px;
    color: #eee;
}
.banner .inner h1{
    margin: 0;
}
.banner .inner p{
    height: 50px;
    padding: 10px;
    font-size:30px;
    margin-bottom: 100px;
}
.banner .inner p i{
    margin-right: 30px;
}
.antecedent-wrapper{
    height: 1000px;
    background-color: #262731;
    position: relative;
    text-align: center;
    padding: 50px 0 0 0;
    color: #575757;
}
.timeline{
    position: absolute;
    display: inline;
    margin-left: -10px;
}
.timeline .line{
    position: relative;
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 8px;
    background-color: #575757;
}
.timeline .arrow{
    width: 0px;
    height: 0px;
    background-color: #262731;
    position: relative;
    border-style: solid;
    border-color: #575757 transparent transparent;
    border-width: 20px 10px 0;
}
 .timeline .arrow:after{
    content: "";
    display: block;
    position: relative;
    border-style: solid;
    border-color: #262731 transparent transparent;
    border-width: 10px 5px 0;
    right: 4.5px;
    bottom: 17px;
}
.antecedent{
    width: 100%;
    height: 100px;
    position: relative;
}
.antecedent:nth-child(2n) .detail-wrapper{
    float: right;
} 
.antecedent:nth-child(2n+1) .detail-wrapper{
    float: left;
}
.antecedent .detail-wrapper{
    width: 50%;
    height: 100px;
}
#ant-second{
    height: 250px;
}
.antecedent:nth-child(2n){
    text-align: left;
}
.antecedent:nth-child(2n+1){
    text-align: right;
}
.antecedent .circle{
    width: 26px;
    height: 26px;
    background-image: -webkit-radial-gradient(#575757 7px,#262731 10px,#C52F2F 12px, #262731 13px );
    background-image: -moz-radial-gradient(#575757 7px,#262731 10px,#C52F2F 12px, #262731 13px );
    background-image: radial-gradient(#575757 7px,#262731 10px,#C52F2F 12px, #262731 13px );
}
.antecedent:nth-child(2n) .circle{
    float: left;
    position: relative;
    right: 13px;
}

.antecedent:nth-child(2n+1) .circle{
    float: right;
    position: relative;
    left: 13px;
}
.antecedent .detail-wrapper:after{
    display: inline-block;
    width: 98px;
    border: 1px solid #575757;
    content: "";
}
.detail{
    float: inherit;
    height: 100%;
    width: -moz-calc(100% - (26px + 100px + 4px));
    width: -webkit-calc(100% - (26px + 100px + 4px));
    width: calc(100% - (26px + 100px + 4px));
}
.detail{
    color: #575757;
    margin: 0 0;
    padding: 0 0;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 40px;
    margin-top: -7px;
}
#ant-final{
    margin-bottom: 70px;
}
.skills{
    font-size: 35px;
    height: 30%;
    padding: 50px 200px 0 200px;   
}
.skills-wrapper{
    margin-top: 70px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.skills-wrapper>div{
    width: 20%;
    height: 100%;
}
 .skill-circle:before{
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    height: 110px;
    width: 110px;
    border: 5px solid #575757;
    border-radius: 60px; 
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    margin: 0 auto;
} 
.skill-circle{
    display: block;
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 auto 20px;
    border-radius: 50px; 
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: -webkit-linear-gradient(top, #575757 0px, #575757 68px, #262731 68px);
    background: -moz-linear-gradient(top, #575757 0px, #575757 68px, #262731 68px);
    background: linear-gradient(to top, #575757 0px, #575757 68px, #262731 68px)
}
.html .skill-circle{
    background: -webkit-linear-gradient(top, #575757 0px, #575757 72px, #262731 73px);
    background: -moz-linear-gradient(top, #575757 0px, #575757 72px, #262731 73px);
    background: linear-gradient(to top, #575757 0px, #575757 72px, #262731 73px)
}
.css .skill-circle{
    background: -webkit-linear-gradient(top, #575757 0px, #575757 57px, #262731 57px);
    background: -moz-linear-gradient(top, #575757 0px, #575757 57px, #262731 57px);
    background: linear-gradient(to top, #575757 0px, #575757 57px, #262731 57px)
}
.javascript .skill-circle{
    background: -webkit-linear-gradient(top, #575757 0px, #575757 62px, #262731 62px);
    background: -moz-linear-gradient(top, #575757 0px, #575757 62px, #262731 62px);
    background: linear-gradient(to top, #575757 0px, #575757 62px, #262731 62px)
}
.bootstrap .skill-circle{
    background: -webkit-linear-gradient(top, #575757 0px, #575757 46px, #262731 56px);
    background: -moz-linear-gradient(top, #575757 0px, #575757 46px, #262731 46px);
    background: linear-gradient(to top, #575757 0px, #575757 46px, #262731 46px)
}
.demo{
    background-color: #666;
}
.demo section{
    height: 50px;
    
}
footer{
    height: 200px;
    background-color: #181414;
    color: #eee;
}
footer ul{
    margin: 0;
    display: block;
    text-align: center;
}
footer ul li{
    list-style: none;
    display: inline-block;
    border-right: 2px solid #A4A4A4;
    margin-top: 50px;
    padding: 0 10px;
}
footer ul li:last-child{
    border-right: 0;
}
footer a{
    text-decoration: none;
}
footer a:link{
    color: #eee;
}
footer a:hover, footer a:visited{
    color: #A4A4A4;
}





