
.banner{
    height: 600px;
}
.banner .inner{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 150px;
    color: #eee;
}
.banner .inner h1{
    margin: 0;
}
.banner .inner div{
    height: 50px;
    padding: 10px;
    font-size:30px;
    margin: 30px 0 100px 0;
}
.banner .inner div i{
    margin-right: 30px;
}
.antecedent-wrapper{
    height: 1000px;
    background-color: #1b1b1b;
    position: relative;
    text-align: center;
    padding: 50px 0 0 0;
    color: #575757;
}
.timeline{
    position: absolute;
    display: inline;
    margin-left: -10px;
}
.timeline .line{
    position: relative;
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 8px;
    background-color: #575757;
}
.timeline .arrow{
    width: 0px;
    height: 0px;
    background-color: #1b1b1b;
    position: relative;
    border-style: solid;
    border-color: #575757 transparent transparent;
    border-width: 20px 10px 0;
}
 .timeline .arrow:after{
    content: "";
    display: block;
    position: relative;
    border-style: solid;
    border-color: #1b1b1b transparent transparent;
    border-width: 10px 5px 0;
    right: 4.5px;
    bottom: 17px;
}
.antecedent{
    width: 100%;
    height: 100px;
    position: relative;
}
.antecedent:nth-child(2n) .detail-wrapper{
    float: right;
} 
.antecedent:nth-child(2n+1) .detail-wrapper{
    float: left;
}
.antecedent .detail-wrapper{
    width: 50%;
    height: 100px;
}
#ant-second{
    height: 250px;
}
.antecedent:nth-child(2n){
    text-align: left;
}
.antecedent:nth-child(2n+1){
    text-align: right;
}
.antecedent .circle{
    width: 26px;
    height: 26px;
    background-image: -webkit-radial-gradient(#575757 7px,#1b1b1b 10px,#C52F2F 12px, #1b1b1b 13px );
    background-image: -moz-radial-gradient(#575757 7px,#1b1b1b 10px,#C52F2F 12px, #1b1b1b 13px );
    background-image: radial-gradient(#575757 7px,#1b1b1b 10px,#C52F2F 12px, #1b1b1b 13px );
}
.antecedent:nth-child(2n) .circle{
    float: left;
    position: relative;
    right: 13px;
}

.antecedent:nth-child(2n+1) .circle{
    float: right;
    position: relative;
    left: 13px;
}
.antecedent .detail-wrapper:after{
    display: inline-block;
    width: 98px;
    border: 1px solid #575757;
    content: "";
}
.detail{
    float: inherit;
    height: 100%;
    width: -moz-calc(100% - (26px + 100px + 4px));
    width: -webkit-calc(100% - (26px + 100px + 4px));
    width: calc(100% - (26px + 100px + 4px));
}
.detail{
    color: #575757;
    margin: 0 0;
    padding: 0 0;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 40px;
    margin-top: -7px;
}
#ant-final{
    margin-bottom: 70px;
}
.skills{
    font-size: 35px;
    height: 30%;
    padding: 50px 200px 0 200px;   
}
.skills-wrapper{
    margin-top: 70px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.skills-wrapper>div{
    width: 20%;
    height: 100%;
}
 .skill-circle:before{
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    height: 110px;
    width: 110px;
    border: 5px solid #575757;
    border-radius: 60px; 
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    margin: 0 auto;
} 
.skill-circle{
    display: block;
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 auto 20px;
    border-radius: 50px; 
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: -webkit-linear-gradient(top, #575757 0px, #575757 68px, #1b1b1b 68px);
    background: -moz-linear-gradient(top, #575757 0px, #575757 68px, #1b1b1b 68px);
    background: linear-gradient(to top, #575757 0px, #575757 68px, #1b1b1b 68px)
}
.html .skill-circle{
    background: -webkit-linear-gradient(top, #575757 0px, #575757 72px, #1b1b1b 73px);
    background: -moz-linear-gradient(top, #575757 0px, #575757 72px, #1b1b1b 73px);
    background: linear-gradient(to top, #575757 0px, #575757 72px, #1b1b1b 73px)
}
.css .skill-circle{
    background: -webkit-linear-gradient(top, #575757 0px, #575757 57px, #1b1b1b 57px);
    background: -moz-linear-gradient(top, #575757 0px, #575757 57px, #1b1b1b 57px);
    background: linear-gradient(to top, #575757 0px, #575757 57px, #1b1b1b 57px)
}
.javascript .skill-circle{
    background: -webkit-linear-gradient(top, #575757 0px, #575757 62px, #1b1b1b 62px);
    background: -moz-linear-gradient(top, #575757 0px, #575757 62px, #1b1b1b 62px);
    background: linear-gradient(to top, #575757 0px, #575757 62px, #1b1b1b 62px)
}
.jquery .skill-circle{
    background: -webkit-linear-gradient(top, #575757 0px, #575757 46px, #1b1b1b 56px);
    background: -moz-linear-gradient(top, #575757 0px, #575757 46px, #1b1b1b 46px);
    background: linear-gradient(to top, #575757 0px, #575757 46px, #1b1b1b 46px)
}
.demo{
    background: #1b1b1b;
}
.demo>.wrapper{
    display: flex;
    flex-wrap: wrap;
}
.section{
    color: #d8d0d0;
    position: relative;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    height: 400px;
    width: 50%;
    padding: 7%;
    margin-bottom: 100px;
    text-align: center;
    vertical-align: middle;
}
.section ul{
    text-align: left;

}
.section ul li{
    margin-bottom: 10px;
}
#sec-1, #sec-4, #sec-5{
    background: #22233a;
}
#sec-2, #sec-3, #sec-6{
    background: #322e50;
}
.link{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: rgba(27,27,27,0.7);
}
.link>a{
    display: inline-block;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
    text-decoration: none;
    color: #666;
    width: 50%;
    height: 100%;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    padding: 10% 0 0 0;
}
.demo-link{
    border-right: 1px solid #666;
    float: left;
}
.source{
    border-left: 1px solid #666;
    float: right;
}
.demo-link:hover, .source:hover{
    color: #d8d0d0;
}
.return-top{
    display: none;
    position: fixed;
    border: 2px solid #666;
    color: #666;
    font-size: 30px;
    font-weight: 900;
    vertical-align: middle;
    text-align: center;
    right: 20px;
    bottom: 40px;
    width: 60px;
    height: 40px;
    background: #333;
}
.return-top:hover{
    color: #d8d0d0;
    border-color: #d8d0d0;
}
.return-top:focus{
    outline: none;
}
footer{
    height: 200px;
    background-color: #1b1b1b;
    color: #eee;
}
footer ul{
    margin: 0;
    display: block;
    text-align: center;
}
footer ul li{
    list-style: none;
    display: inline-block;
    border-right: 2px solid #A4A4A4;
    margin-top: 50px;
    padding: 0 10px;
}
footer ul li:last-child{
    border-right: 0;
}
footer a{
    text-decoration: none;
}
footer a:link{
    color: #eee;
}
footer a:hover, footer a:visited{
    color: #A4A4A4;
}





